@import '../styles/colors.scss';

.class-card {
  flex: none;
  width: 175px !important;
  box-shadow: none !important;
  border-radius: 15px !important;
  margin: 0% !important;

  .card-content-container {
    display: flex !important;
    justify-content: space-between !important;

    .class-text {
      font-family: Tommy !important;
      font-size: 150%;
    }
  }

  .delete-button {
    height: 25px !important;
    width: 50px !important;
    font-family: Tommy !important;
    padding: 0px !important;
  }
}

