@import '../styles/colors.scss';

.ui.modal {
  background-color: #c5cad4 !important;
  font-family: Tommy;
  width: 500px;

  .ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 30px;
    padding: 10px 0px 0px 10px;
  }
  #form-text {
    padding: 0px 0px 0px 10px;
    color: black !important;
  }
  .join-session-button {
    margin: 10px 0px 0px 300px;
    padding: 10px 10px 10px 10px;
    background-color: #575a89 !important;
    color: #ffffff !important;
    transition: all 0.3s ease !important;
  }
  .notes-bg {
    margin-top: 5px;
  }
}
.ui.modal > .content {
  background: #c5cad4;
  padding-left: 25px;
  padding-bottom: 30px;
}
.ui.modal > :last-child {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
