@import '../styles/colors.scss';

@font-face {
  font-family: 'Tommy';
  src: local('Tommy'), url('../fonts/Tommy.ttf') format('truetype');
}

.sessionCard {
  box-shadow: none !important;
  text-align: left !important;
  width: 400px !important;
  height: 100px !important;
  margin-bottom: 20px !important;
  border-radius: 15px !important;
  font-family: Tommy !important;
  transition: all 0.3s ease !important;
}

.ui.card > .content > .header {
  font-family: Tommy !important;
}
.sessionCard:hover {
  transition: all 0.3s ease;
  background-color: #b2caee !important;
}

.homeHeader {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  font-size: 80px;
  text-align: left;
  font-family: Tommy;
}

h1 {
  font-family: Tommy;
}

.insideCard {
  margin-top: 5px !important;
  padding: 20px !important;
  font-family: Tommy !important;
}

#join-btn {
  padding: 3px 20px;
  margin-top: 5px;
  transition: all 0.3s ease !important;
  font-family: Tommy !important;
}
#follow-btn {
  padding: 3px 20px;
  font-size: 13px;
  font-family: Tommy !important;
  transition: all 0.3s ease !important;
}
#join-btn:hover {
  transition: all 0.3s ease !important;
}
#follow-btn:hover {
  transition: all 0.3s ease !important;
}
