@import '../styles/colors.scss';

.sessionCard {
  box-shadow: none !important;
  text-align: left !important;
  width: 400px !important;
  height: 100px !important;
  margin-bottom: 20px !important;
  border-radius: 15px !important;
  transition: all 0.3s ease !important;
  // box-shadow: 3px 3px 6px grey !important;
}

.ui.card > .content > .header {
  font-family: Tommy !important;
}
.sessionCard:hover {
  transition: all 0.3s ease;
  background-color: #b2caee !important;
  box-shadow: 3px 3px 6px grey !important;
}

.homeHeader {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  font-size: 80px;
  text-align: left;
  font-family: Tommy;
}
h1 {
  font-family: Tommy;
}
.insideCard {
  margin-top: 5px !important;
  padding: 20px !important;
  font-family: Tommy !important;
}
#join-btn {
  padding: 5px 27px;
  margin-left: 280px;
  transition: all 0.3s ease !important;
  font-family: Tommy !important;
}
#edit-btn {
  padding: 5px 27px;
  margin-left: 280px;
  transition: all 0.3s ease !important;
  font-family: Tommy !important;
}
#join-btn:hover {
  transition: all 0.3s ease !important;
}

.welcome-msg {
  position: relative;
  right: 12%;
  margin: 50px 0px 50px 0px;
  font-size: 40px;
}

.studying-activity-container {
  position: relative;
  background-color: red;
  width: 40%;
  margin: 0 auto;

  .add-session-btn {
    position: absolute;
    right: 0;
  }
}

.homeimg-sitting {
  position: relative;
  right: 23%;
  top: -250px;
}

.homeimg-laying {
  position: relative;
  left: 18%;
  top: -380px;
  width: 350px;
  height: auto;
}

.academy-msg {
  position: absolute;
  left: 3%;
  top: 90%;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}
