@import '../styles/colors.scss';

.navbar {
  background-color: $accent !important;
  font-family: 'Tommy' !important;

  .nav-item {
    color: $light !important;
    font-weight: bold !important;
    text-shadow: none !important;
  }
}
