@import '../styles/colors.scss';

.navbar {
  background-color: $accent !important;
  font-family: 'Tommy' !important;

  .nav-item {
    color: $primary !important;
    font-weight: bold !important;
    text-shadow: none !important;

    .active.item {
      background-color: palegreen !important;
    }
  }
}

.ui.menu .active.item {
  background-color: $light !important;
}
