@import '../styles/colors.scss';
.add-class-button {
    background-color: $accent !important;
    color: $light !important;
    font-weight: bold !important;
    border: none;
    text-align: center;
}