@import '../styles/colors.scss';

#add-class-btn {
  padding: 5px 27px;
  transition: all 0.3s ease !important;
  font-family: Tommy !important;
}

<<<<<<< HEAD #add-class-btn:hover {
  transition: all 0.3s ease !important;
}

=======>>>>>>>a94fe503d50d674f2e2a5101bc1e608565357963 .classes-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: wrap;
  padding-right: 200px;
  padding-left: 200px;
}
