#form-title {
  font-size: 70px;
  text-align: center;
  margin-bottom: 20px;
}

.session-form {
  .popup-form {
    background: black !important;
  }
}

.dropdown-label {
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 4px !important;
}

.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: rgba(191, 191, 191, 0.87) !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}
