@import 'colors.scss';

@font-face {
  font-family: 'Tommy';
  src: local('Tommy'), url('../fonts/Tommy.ttf') format('truetype');
}

body,
h1 {
  font-family: 'Tommy' !important;
  background-color: $light;
  color: $primary;
  text-align: center;
}

.ui.modal > .content {
  background: #c5cad4;
}
